#DATUM_HEADING{
    color: rgb(62, 101, 173);
    font-weight: 700;
    font-size: 2.5em;
    padding-left: 10px;
    margin-right: 0.5rem;
}

.nav-link{
    text-align: left;
    padding: 3px 8px;
    font-weight: 600;
    margin: 1px 5px;
    font-size:1.35em;
    color: black;
    border-radius: 0.7em;
    transition: .5s;
}

.nav-link:hover{
    color: white;
    background-color: rgb(62, 101, 173);
}

h1{
  text-align: center;
  padding-top:30px;
  padding-bottom: 30px;
}
h3{
  text-align: center;
}
p{text-align: center}
 .imu{
   width:20%;
   margin-left: 540px;
 }

.intro{
  font-size:20px;
  font-weight:900px;
}
.container{
  text-align: center;
}
.our-team{
  background-color: #f7f5ec;
  padding:40px;
}
hr{
  border-style:none;
  border-top-style:dotted;
  border-color:black;
  border-width: 500px;
  width:30%;
}
.card-header{
  background-color:#9BCDF8;
}
.card-body{
  background-color:#C5ECE8;
}
.heading{
    color:rgb(62, 101, 173);
}
.ft{
  padding:0 45px;
  font-weight:900px;
}
