#DATUM_HEADING{
    color: rgb(62, 101, 173);
    font-weight: 700;
    font-size: 2.5em;
    padding-left: 10px;
    margin-right: 0.5rem;
}

.nav-link{
    text-align: left;
    padding: 3px 8px;
    font-weight: 600;
    margin: 1px 5px;
    font-size:1.35em;
    color: black;
    border-radius: 0.7em;
    transition: .5s;
}

.nav-link:hover{
    color: white;
    background-color: rgb(62, 101, 173);
}
p{
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}
.first{
  margin:20px 150px;
  border-radius:1em;
  text-align: center;
  background-color: #F0F2FD;
  color:rgb(62, 101, 173);
  padding:3% 10% 0.5%;
}
.container{
  margin-top:100px;
  text-align:center;
}
.Sudhir{
  width:101%;
}
.Priyanshu{
  width:100%;
}
.Navdeep{
  width:98%;
}
.Ritik{
  width:92%;
}
.card{
  margin:10px 1px;
}
.card-body{
  margin:0.5px;
}
#bt{
  background-color: rgb(62, 101, 173);
}
#bt:hover{
  background-color: #C6CBE6;
}
